[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-cockroachdb = "==5.1.*"
gunicorn = "*"
whitenoise = {extras = ["brotli"], version = "*"}
uvicorn = "*"
psycopg = "*"

[dev-packages]

[requires]
python_version = "3.12"
